{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if not user.is_authenticated %}
        <h1 class="centralized-text">Welcome!</h1>
        <h2 class="orange-text centralized-text">In order to see your requests and add new ones, please log in!</h2>

    {% else %}
        <h1>Add a new Request:</h1>
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button>Submit</button>

            <div id="api-description">
                <span id="description-title">API Description:</span>
                <p id="description-text">
                    <!-- This paragraph will be filled by ajax -->
                </p>
            </div>
        </form>
    {% endif %}
{% endblock %}